---
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const curl =
    "https://flxrgxrvxeximsskwubc.supabase.co/rest/v1/products?select=*";

  const apikey =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZseHJneHJ2eGV4aW1zc2t3dWJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4NTEwNTAsImV4cCI6MjA1OTQyNzA1MH0.xAOE81P0J3Rbdu_mZXneRAPUTNpiVhn7VSpHU8S3AnU";

  const options = {
    headers: {
      apikey: apikey,
    },
  };

  const response = await fetch(curl, options);
  const data = await response.json();

  return data.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;
---

<Layout>
  <h1>{id}: {product.name}</h1>
  <img src={"../images/" + product.image} alt={product.imagedescr} />
  <p>Findes i størrelserne</p>
  <ul>
    {product.size.map((str) => <li>{str}</li>)}
  </ul>
</Layout>
