---
import { date } from "astro:schema";
import Layout from "../layouts/Layout.astro";
const url = "https://dummyjson.com/users";
const resp = await fetch(url);
const data = await resp.json();
//console.log(data);
---

<Layout>
  <h1>Test</h1>
  <section class="grid">
    {data.users.map((elm) => <p>{elm.firstName + " " + elm.lastName}</p>)}
  </section>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minMax(250px, 1fr));
    gap: 1rem;
  }
</style>
