---
import Layout from "../layouts/Layout.astro";
const url = "https://flxrgxrvxeximsskwubc.supabase.co/rest/v1/produkter";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZseHJneHJ2eGV4aW1zc2t3dWJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM4NTEwNTAsImV4cCI6MjA1OTQyNzA1MH0.xAOE81P0J3Rbdu_mZXneRAPUTNpiVhn7VSpHU8S3AnU";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<Layout>
  <h1>Test</h1>
  {data.map((product) => <h2>{product.productname}</h2>)}
</Layout>
