---
import Layout from "../layouts/Layout.astro";
import Ucard from "../components/Ucard.astro";
const url = "https://dummyjson.com/users";

const data = await fetch(url).then((res) => res.json());
console.log(data);
---

<Layout>
  <h1>Users</h1>
  <section>
    {data.users.map((user) => <Ucard {user} />)}
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }
</style>
