---
const { product } = Astro.props;
---

<a href={"single/" + product.id}>
  <article>
    <img src={product.image} alt={product.imagedescr} />
    <h2>{product.name}</h2>
    <p>{product.price}</p>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
