<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Butik</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a><a href="caps">Caps</a><a href="about">Om os</a>
    </nav>
    <slot />
  </body>
</html>
<style>
  nav {
    text-align: end;
    padding: 1rem;
    a {
      padding: 1rem;
    }
  }
</style>
